form {
    width: 500px;
    margin: 70px auto;

}
.mainWrapper {
    display: grid;
    grid-template-rows: 300px 500px;
}
.input {
    &__all {
        width: 500px;
        min-height: 150px;
        position: relative;
    }
    &__block {
        margin-bottom: 10px;
    }
    &__wrapper {
        display: flex;
        width: 500px;
        justify-content: stretch;
        margin-bottom: 10px;

    }
    &__date {
        margin-right: 10px;
        height: 30px;
    }
    &__exercise {
        height: 30px;
        min-width: 355px;
    }
    &__repetitions {
        width: 65px;
        height: 36px;
        margin-left: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    &__weight {
        width: 65px;
        height: 36px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    &__physicalManagement {
        display: flex;
        margin: 0 10px 0 5px;
        overflow-x: auto;
        width: 375px;
        padding-left: 20px;
    }
    &__row {
        display: flex;
        justify-content: end;
        overflow-x: auto;
    }
    &__btn {
        width: 490px;
        height: 36px;
        margin-top: 10px;
        &:hover {
            cursor: pointer
        }
    }
    &__deleteApproach {
        margin-left: 5px;
        width: 100px;
        height: 36px;
        border: 0.1px solid black;
        border-width: 0.1;
        background-color: #f0f0f0;
        line-height: 1;
        &:hover {
            cursor: pointer
        }
        font-size: 14px;
    }
}
.wrapperInputBlock {
    display: flex;
    bottom: 0;
    margin-bottom: 100px;
}
.wrapper {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.beforePhysicalManagement__row {
    display: flex;
    justify-content: start;
    min-width: 500px;
    overflow-x: auto;

}
.beforePhysicalManagement {
    overflow: auto;
    margin: 0 auto;
    
}
.beforePhysicalManagement__date {
    display: flex;
    min-width: 132px;
    height: 36px;
    border: 0.5px solid gray;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.beforePhysicalManagement__info {
    min-width: 242px;
    overflow-x: auto;
    display: flex;
}
.beforePhysicalManagement__approach {
    display: flex;
    min-width: 65px;
    height: 36px;
    border: 0.5px solid gray;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
.beforePhysicalManagement__weight {
    display: flex;
    min-width: 65px;
    height: 36px;
    border: 0.5px solid gray;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;

}
.emptyCell {
    min-width: 134px;
}
